#Data Loading and Exploration

In [55]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv('employee_data.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [56]:
#shape of data
df.shape

(1470, 35)

In [57]:
#setting target
target = df['Attrition']

#listing all the columns less attrition
feature = df.drop(columns=['Attrition'])

print(target)
print(feature)

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object
      Age     BusinessTravel  DailyRate              Department  \
0      41      Travel_Rarely       1102                   Sales
1      49  Travel_Frequently        279  Research & Development
2      37      Travel_Rarely       1373  Research & Development
3      33  Travel_Frequently       1392  Research & Development
4      27      Travel_Rarely        591  Research & Development
...   ...                ...        ...                     ...
1465   36  Travel_Frequently        884  Research & Development
1466   39      Travel_Rarely        613  Research & Development
1467   27      Travel_Rarely        155  Research & Development
1468   49  Travel_Frequently       1023                   Sales
1469   34      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  EnvironmentSatisfaction  ... RelationshipSatisfaction  \
0                  1                        2  ...                        1
1                  2                        3  ...                        4
2                  4                        4  ...                        2
3                  5                        4  ...                        3
4                  7                        1  ...                        4
...              ...                      ...  ...                      ...
1465            2061                        3  ...                        3
1466            2062                        4  ...                        1
1467            2064                        2  ...                        2
1468            2065                        4  ...                        4
1469            2068                        2  ...                        1

      StandardHours  StockOptionLevel  TotalWorkingYears  \
0                80                 0                  8
1                80                 1                 10
2                80                 0                  7
3                80                 0                  8
4                80                 1                  6
...             ...               ...                ...
1465             80                 1                 17
1466             80                 1                  9
1467             80                 1                  6
1468             80                 0                 17
1469             80                 0                  6

     TrainingTimesLastYear  WorkLifeBalance YearsAtCompany  \
0                        0                1              6
1                        3                3             10
2                        3                3              0
3                        3                3              8
4                        3                3              2
...                    ...              ...            ...
1465                     3                3              5
1466                     5                3              7
1467                     0                3              6
1468                     3                2              9
1469                     3                4              4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                      4                        0                     5
1                      7                        1                     7
2                      0                        0                     0
3                      7                        3                     0
4                      2                        2                     2
...                  ...                      ...                   ...
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2

[1470 rows x 34 columns]

In [9]:
df.head(30)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1

#Data Preprocessing

In [58]:
#iterating through each column and replacing null values with the mode value as some columns are not numerical
for i in df.columns:
    mode = df[i].mode()
    df[i] = df[i].fillna(mode)

In [25]:
#creating a copy of the dataset to be able to manipulate post-null val handling

encoded_df = df.copy()
lb=LabelEncoder()

#executing categorical encoding
for column in encoded_df.columns:
    encoded_df[column] = lb.fit_transform(encoded_df[column])

encoded_df_one_hot = pd.get_dummies(encoded_df)
encoded_df.head(20)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,23,1,2,624,2,0,1,1,0,0,...,0,0,0,8,0,0,6,4,0,5
1,31,0,1,113,1,7,0,1,0,1,...,3,0,1,10,3,2,10,7,1,7
2,19,1,2,805,1,1,1,4,0,2,...,1,0,0,7,3,2,0,0,0,0
3,15,0,1,820,1,2,3,1,0,3,...,2,0,0,8,3,2,8,7,3,0
4,9,0,2,312,1,1,0,3,0,4,...,3,0,1,6,3,2,2,2,2,2
5,14,0,1,572,1,1,1,1,0,5,...,2,0,0,8,2,1,7,7,3,6
6,41,0,2,770,1,2,2,3,0,6,...,0,0,3,12,3,1,1,0,0,0
7,12,0,2,794,1,23,0,1,0,7,...,1,0,1,1,2,2,1,0,0,0
8,20,0,1,78,1,22,2,1,0,8,...,1,0,0,10,2,2,9,7,1,8
9,18,0,2,751,1,26,2,3,0,9,...,1,0,2,17,3,1,7,7,7,7
10,17,0,2,452,1,15,2,3,0,10,...,2,0,1,6,5,2,5,4,0,3
11,11,0,2,37,1,14,1,1,0,11,...,3,0,0,10,3,2,9,5,0,8
12,13,0,2,368,1,25,0,1,0,12,...,3,0,1,5,1,1,5,2,4,3
13,16,0,2,786,1,18,1,3,0,13,...,2,0,1,3,2,2,2,2,1,2
14,10,1,2,1,1,23,2,1,0,14,...,1,0,0,6,4,2,4,2,0,3
15,11,0,2,818,1,20,3,1,0,15,...,2,0,1,10,1,2,10,9,8,8
16,14,0,2,150,1,4,1,1,0,16,...,3,0,2,7,5,1,6,2,0,5
17,4,0,0,637,1,15,1,3,0,17,...,1,0,2,1,2,1,1,0,0,0
18,35,0,2,698,2,1,3,1,0,18,...,2,0,0,31,3,2,25,8,3,7
19,20,0,2,171,1,1,2,1,0,19,...,2,0,0,6,3,2,3,2,1,2

In [59]:
#creating new variables for copied df
copy_features = encoded_df.drop('Attrition', axis=1)
copy_target = encoded_df['Attrition']

#set random state for consistency
feature_train, feature_test, target_train, target_test = train_test_split(copy_features, copy_target, test_size=0.2, random_state=42)

print("Feature Train", feature_train)
print('Feature Test', feature_test)

Feature Train       Age  BusinessTravel  DailyRate  Department  DistanceFromHome  Education  \
1097    6               2        159           1                20          1
727     0               0        118           1                 4          1
254    11               2        718           2                19          1
1175   21               2        245           1                11          2
1341   13               2        135           1                19          2
...   ...             ...        ...         ...               ...        ...
1130   17               2        418           1                27          2
1294   23               2        216           1                 4          2
860     4               1        725           1                 2          3
1459   11               2        809           1                12          1
1126   32               2        105           2                 8          2

      EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  \
1097               5              0            1097                        2
727                1              0             727                        1
254                2              0             254                        3
1175               3              0            1175                        3
1341               1              0            1341                        1
...              ...            ...             ...                      ...
1130               1              0            1130                        1
1294               1              0            1294                        1
860                1              0             860                        2
1459               4              0            1459                        3
1126               2              0            1126                        2

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
1097  ...                         1              0                 3
727   ...                         3              0                 0
254   ...                         3              0                 1
1175  ...                         2              0                 0
1341  ...                         0              0                 1
...   ...                       ...            ...               ...
1130  ...                         3              0                 2
1294  ...                         0              0                 0
860   ...                         1              0                 1
1459  ...                         0              0                 1
1126  ...                         2              0                 1

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
1097                  2                      3                2
727                   0                      2                2
254                  10                      2                2
1175                  7                      3                2
1341                 10                      2                2
...                 ...                    ...              ...
1130                 10                      3                1
1294                 11                      3                0
860                   1                      5                2
1459                 10                      2                2
1126                 27                      2                2

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
1097               1                   1                        0
727                0                   0                        0
254                3                   2                        0
1175               5                   4                        1
1341              10                   8                        0
...              ...                 ...                      ...
1130              10                   9                        6
1294               3                   2                        1
860                0                   0                        0
1459               4                   3                        0
1126               1                   0                        0

      YearsWithCurrManager
1097                     0
727                      0
254                      2
1175                     0
1341                     2
...                    ...
1130                     8
1294                     2
860                      0
1459                     3
1126                     0

[1176 rows x 34 columns]
Feature Test       Age  BusinessTravel  DailyRate  Department  DistanceFromHome  Education  \
1041   10               2        482           2                 4          2
184    35               2        611           1                12          1
1222    6               2         90           0                21          0
67     27               2        782           1                 6          2
220    18               2        823           1                 4          1
...   ...             ...        ...         ...               ...        ...
567    16               2        129           2                 1          2
560    16               2         46           1                 7          4
945    32               2        768           1                27          2
522    19               2        704           1                 9          1
651    29               2         96           2                 1          1

      EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  \
1041               3              0            1041                        3
184                3              0             184                        3
1222               0              0            1222                        3
67                 1              0              67                        1
220                1              0             220                        3
...              ...            ...             ...                      ...
567                4              0             567                        3
560                1              0             560                        1
945                1              0             945                        3
522                1              0             522                        3
651                2              0             651                        2

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
1041  ...                         3              0                 0
184   ...                         2              0                 2
1222  ...                         2              0                 1
67    ...                         2              0                 1
220   ...                         3              0                 0
...   ...                       ...            ...               ...
567   ...                         2              0                 0
560   ...                         2              0                 1
945   ...                         1              0                 0
522   ...                         0              0                 0
651   ...                         0              0                 1

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
1041                  6                      4                2
184                   5                      3                2
1222                  1                      2                2
67                   25                      2                2
220                  16                      3                3
...                 ...                    ...              ...
567                   6                      5                2
560                   7                      3                2
945                  25                      2                2
522                   4                      2                2
651                   8                      2                2

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
1041               5                   4                        1
184                4                   2                        1
1222               1                   0                        0
67                 1                   0                        0
220               13                  11                        3
...              ...                 ...                      ...
567                6                   5                        1
560                0                   0                        0
945                3                   2                        1
522                1                   0                        0
651                7                   6                        7

      YearsWithCurrManager
1041                     3
184                      3
1222                     0
67                       0
220                      7
...                    ...
567                      4
560                      0
945                      2
522                      0
651                      7

[294 rows x 34 columns]

#Feature Engineering

In [60]:
# from sklearn.linear_model import LinearRegression
# lm = LinearRegression()

df = pd.read_csv('employee_data.csv')

#education bins
education_binned = pd.cut(df['Education'], bins = [0,1,2,3,4,5], labels=['Below College', 'College', 'Bachelor', 'Master', 'Doctor'])

df['EducationBinned'] = education_binned

#envi satisfaction bins
env_sat_bined = pd.cut(df['EnvironmentSatisfaction'], bins = [0,1,2,3,4], labels=['Low', 'Medium', 'High', 'Very High'])

df['Envi_Satisaction'] = env_sat_bined

#job involvement bins 
job_involvement_binned = pd.cut(df['JobInvolvement'], bins = [0,1,2,3,4], labels=['Low', 'Medium', 'High', 'Very High'])

df['Job_Involvement_Bin'] = job_involvement_binned

#job satisfaction bins
job_satisfaction_binned = pd.cut(df['JobSatisfaction'], bins = [0,1,2,3,4], labels=['Low', 'Medium', 'High', 'Very High'])

df['Job_Satisfaction_Bin'] = job_satisfaction_binned

#performance bins
performance_rating_binned = pd.cut(df['PerformanceRating'], bins = [0,1,2,3,4], labels=['Low', 'Good', 'Excellent', 'Outstanding'])

df['Performance_Rating_Bin'] = performance_rating_binned

#relationship bins
relationship_satisfaction_binned = pd.cut(df['RelationshipSatisfaction'], bins = [0,1,2,3,4], labels=['Low', 'Medium', 'High', 'Very High'])

df['RelationshipSatisfactionBin'] = relationship_satisfaction_binned

#balance bins
worklife_balance = pd.cut(df['WorkLifeBalance'], bins = [0,1,2,3,4], labels=['Bad', 'Good', 'Better', 'Best'])

df['WorkLifeBalance'] = worklife_balance

##Correlations##

In [61]:

#looking to see how these columns correlate to attrition. Experimental
columns = ['Education', 'EnvironmentSatisfaction', 'JobInvolvement', 'PerformanceRating', 'RelationshipSatisfaction', 'WorkLifeBalance']

df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

correlations = {}
for column in columns:
    correlation = df[column].corr(df['Attrition'])
    correlations[column] = correlation
    print(f'Correlation {column} and Attrition: {correlation:.4f}')

Correlation Education and Attrition: -0.0314
Correlation EnvironmentSatisfaction and Attrition: -0.1034
Correlation JobInvolvement and Attrition: -0.1300
Correlation PerformanceRating and Attrition: 0.0029
Correlation RelationshipSatisfaction and Attrition: -0.0459

ValueError: could not convert string to float: 'Bad'

#Model Training & Evaluation

In [72]:
#Started all over 

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

df = pd.read_csv('employee_data.csv')

df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

features = ['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education','EducationField', 'EnvironmentSatisfaction', 'JobInvolvement', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear','WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

X = df[features]
y = df['Attrition']

# quantifing data
label_encoders = {}
for column in X.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    X.loc[:, column] = le.fit_transform(X[column])
    label_encoders[column] = le

scaler = StandardScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

reg = LogisticRegression(max_iter=1000)
reg.fit(X_train, y_train)

y_hat = reg.predict(X_test)

acc = accuracy_score(y_test, y_hat)
conf_matrix = confusion_matrix(y_test, y_hat)
class_report = classification_report(y_test, y_hat)

print("Accuracy:", acc)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

importance = reg.coef_[0]
feat_importance = pd.Series(importance, index=features).sort_values(ascending=False)
print(feat_importance)

Accuracy: 0.8809523809523809
Confusion Matrix:
 [[253   2]
 [ 33   6]]
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.99      0.94       255
           1       0.75      0.15      0.26        39

    accuracy                           0.88       294
   macro avg       0.82      0.57      0.60       294
weighted avg       0.87      0.88      0.85       294

YearsSinceLastPromotion     0.401172
YearsAtCompany              0.271641
DistanceFromHome            0.209005
Department                  0.191578
EducationField              0.099270
Education                   0.052781
BusinessTravel              0.012878
PerformanceRating          -0.027008
RelationshipSatisfaction   -0.068464
DailyRate                  -0.084922
Age                        -0.161053
WorkLifeBalance            -0.182278
TrainingTimesLastYear      -0.186486
EnvironmentSatisfaction    -0.244333
JobInvolvement             -0.298212
YearsWithCurrManager       -0.362869
TotalWorkingYears          -0.371387
StockOptionLevel           -0.468458
YearsInCurrentRole         -0.581052
dtype: float64